<!DOCTYPE html>
<html lang="pt">
<head>
	{% include "head_plataform.html" %}
</head>
<body ng-app="demoModule" ng-controller="demoController">


<div class="container-fluid">
	<div class="row content">
		{% include "_side-bar.html" %}
	</div>
	
	
	<div class="alert alert-success" style="display: none;">
		<strong>Successo!</strong> Livro adicionado.
	</div>
	
	<div class="alert alert-info" style="display: none;">
		<strong>Successo!</strong> Livro Editado.
	</div>
	
	<div class="alert alert-danger" style="display: none;">
		<strong>Successo!</strong> Livro Excluido.
	</div>
	
	
	<div class="w3-container">
		{% block content %}
		{% endblock %}
	
	</div>
</div>

</body>
</html>
