{% extends "base_plataforma.html" %}
{% load static %}
{% block 'body' %}
{% block content %}
{% block whitebox %}


<div id="main">
	
	
	<!--<p>Type a letter in the input field:</p>-->
	
	<!--<p><input type="text" ng-model="searchvalue.livros"></p>-->
	
	
	<div class="w3-teatro">
		<button id="openNav" class="w3-button-libok w3-teatro w3-xlarge" onclick="w3_open()">&#9776;</button>
	</div>
	
	<a href="/libook/home/"><button>Voltar</button></a>

	{% for livro in livros %}
	
	
	<section
			style="padding: 20px; box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px rgb(255, 255, 255), 0.3em 0.3em 1em rgba(0, 0, 0, 0.3);">
		<h4><small>Adicionado Recentemente</small></h4>
		
		<h2>{{ livro.nome }}</h2>
		<!--					<h5><span class="glyphicon glyphicon-time"></span> Postado por Ilton, Set 27, 2022.</h5>-->
		<h5><span class="glyphicon glyphicon-time"></span> {{ livro.data_text }} </h5>
		
		
		<p>{{ livro.resenha }}</p>
		<a type="button" class="btn btn-warning" href="{% url 'editar' livro.id %}">Editar</a>
		<a type="button" class="btn btn-danger" href="{% url  'deletar' livro.id %}">Deletar</a>
		<!--						<div class="form-check">-->
		<!--						  <input class="form-check-input" type="checkbox" id="check1" name="option1" value="something" checked>-->
		<!--						  <label class="form-check-label">Check</label>-->
		<!--						</div>-->
		<br><br>
	</section>
	<br>
	
	
	{% endfor %}
</div>


{% endblock %}
{% endblock %}
{% endblock %}

