{% extends "base_plataforma.html" %}
{% load static %}
{% block 'body' %}
{% block content %}
{% block whitebox %}




<style>


</style>

<div id="main">

  <div style="display: flex; align-items: center; ">
    <div class="w3-teatro">
      <button id="openNav" class="w3-button-libok w3-teatro w3-xlarge" onclick="w3_open();">&#9776;</button>
    </div>
  
    <a id="closeNav" class="nav-sprite hmenu-close-icon" onclick="w3_close()" style="font-size: 54px;">&times;</a>

  </div>
  
  

  



	{% for livro in livros %}
		<section class="book-section"
			style="padding: 20px; box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px rgb(255, 255, 255), 0.3em 0.3em 1em rgba(0, 0, 0, 0.3);">
			<h4><small>Adicionado Recentemente</small></h4>
			<h2>{{ livro.nome }}</h2>
			<h5><span class="glyphicon glyphicon-time"></span> {{ livro.data_text }}</h5>
			<p>{{ livro.resenha }}</p>
			<a type="button" class="btn btn-warning" href="{% url 'editar' livro.id %}">Editar</a>
			<a type="button" class="btn btn-danger" href="{% url 'deletar' livro.id %}">Deletar</a>
			<br><br>
		</section>
		<br>
	{% endfor %}
</div>

<script>
function filterSections(searchValue) {
	var sections = document.querySelectorAll(".book-section");

	sections.forEach(function(section) {
		var title = section.querySelector("h2").textContent;
		if (title.toLowerCase().includes(searchValue.toLowerCase())) {
			section.style.display = "block";
		} else {
			section.style.display = "none";
		}
	});
}
</script>

{% endblock %}
{% endblock %}
{% endblock %}
